html, body {
    background-color: #000005;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.info {
    color: cyan;
    width: 50vw;
    margin: auto;

}

.info h1 {
    text-align: center;
}

.info p {
    color: white;
}

.emphasis {
    color: yellow;
}